#img_sub{
    border-radius: 30%;
}
body{
    background-color: #76b6c4;
    text-align: center;
    font-family: Kdam Thmor Pro;

}
.paragrafos{
   background-color:#064273 ; 
   font-family: Kdam Thmor Pro;
   font-size: medium;
}
h1{
    font-family: Kdam Thmor Pro;

}
.azull{
    background-color: #064273;
}
